In [1]:
import mysql.connector # library mysql.connector

In [2]:
# this is a step to configure MYSQL database with python , with crdential
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="enter password" #
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001CA03137BB0>

In [ ]:
# database name - collection of multiple table unique
# IBM1 Amit , IBM2 Amit
# table - having data in tabular 
# ibm - ibm employee

# python code - > backend database <Mysql>, Oracle , Postgresql

# query  - > fetch details from database

# forntend backend

# you might filled airticket ,data is stored in database

Database name  ->use database ->create Table name - > insert the data - > fetch the data with sql query - > see the data and compare with database

In [4]:
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE IBM_INDIA")

In [5]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="enter password"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES") # query is to see list of the database name
for x in mycursor:
    print(x)

('ibm',)
('ibm1',)
('ibm3',)
('ibm_india',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [6]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="enter password",
  database="ibm_india"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE employee_ibm (empname VARCHAR(255), address VARCHAR(255))")

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="enter password",
  database="ibm1"
)
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('customers',)

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="enter password",
  database="ibm_india"
)

mycursor = mydb.cursor()

sql = "INSERT INTO employee_ibm (empname, address) VALUES (%s, %s)"
val = ("Amit Dhomne", "Hyderabad")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [19]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="enter password",
  database="ibm"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="enter password",
  database="ibm_india"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM employee_ibm")

myresult = mycursor.fetchall() # assign with rows

for x in myresult:
    print(x)

('Amit Dhomne', 'Hyderabad')

In [ ]:
# dataproc python => , gcs bucket , bigquery  , cloud sql